<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shinystreets</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- ionic css -->
    <link href="css/lib/ionic.css" rel="stylesheet">

    <!-- your app's css -->
    <link href="css/app.css" rel="stylesheet">

    <!-- ionic/angularjs scripts -->
    <script src="js/lib/ionic.js"></script>
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/lib/angular/angular-animate.js"></script>
    <script src="js/lib/angular/angular-route.js"></script>
    <script src="js/lib/angular/angular-touch.js"></script>
    <script src="js/lib/angular/angular-sanitize.js"></script>
    <script src="js/lib/angular/angular-resource.js"></script>
    <script src="js/lib/ionic-angular.js"></script>

    <!-- Custom Services -->
    <script src="js/services/Config.js"></script>
    
    <!-- Custom Services Resources -->
    <script src="js/services/resources/Area.js"></script>

    <!-- Controller scripts -->    
    <script src="js/controllers/Main.js"></script>
    <script src="js/controllers/Issues.js"></script>
    <script src="js/controllers/Issue.js"></script>
    <script src="js/controllers/Areas.js"></script>

    <!-- your app's script -->
    <script src="js/app.js"></script>
    
    <!-- phonegap script -->
    <script src="phonegap.js"></script>
  </head>

  <body ng-app="shinystreets" ng-controller="MainCtrl">

    <tabs tabs-type="tabs-icon-only" tabs-style="tabs-royal">
      
      <!-- list tab -->
      <tab id="tab_list" title="List" icon-on="icon ion-ios7-albums" icon-off="icon ion-ios7-albums-outline">
        
        <header class="bar bar-header bar-royal">
          <button class="button button-clear icon ion-navicon" ng-click="openModal('areas')"> </button>
          <h1 class="title">Issues</h1>
          <button class="button button-clear icon ion-ios7-compose-outline"> </button>
        </header>
        
        <pane nav-router>
          <ng-view></ng-view>
        </pane>
      </tab>
    
      <tab id="tab_map" title="Map" icon-on="icon ion-ios7-location" icon-off="icon ion-ios7-location-outline">
        
        <header class="bar bar-header bar-royal">
          <button class="button button-clear icon ion-navicon" ng-click="openModal('areas')"> </button>
          <h1 class="title">Issues</h1>
          <button class="button button-clear icon ion-ios7-compose-outline"> </button>
        </header>
        <content has-header="true" has-footer="true">
          <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=16.33443832397461%2C48.18588898883708%2C16.4040470123291%2C48.232791761830015&amp;layer=hot"></iframe>
        </content>
      </tab>
    
      <tab id="tab_profile" title="Profile" icon-on="icon ion-ios7-person" icon-off="icon ion-ios7-person-outline">
        
        <header class="bar bar-header bar-royal">
          <h1 class="title">Profil</h1>
        </header>
        <content has-header="true" has-footer="true">
          
          <p class="padding">Du siehst dein Profil erst, wenn du dich eingeloggt hast.</p>
          <p class="padding">
            <button class="button button-block button-royal" ng-click="openModal('login')">Einloggen</button>
          </p>
        </content>
      </tab>
  </tabs>
    
  </body>
</html>
