<div class="modal" ng-controller="CreateSolutionCtrl" ng-focus="init()">

  <ion-header-bar class="bar-stable">
    <h1 class="title">Kommentar erstellen</h1>
    <div class="buttons">
      <button class="button button-clear icon ion-android-close" ng-click="closeCreateSolution()"> </button>
    </div>
  </ion-header-bar>

  <ion-content>
    <form name="createCommentForm">

      <p class="padding">Erstelle ein neues <strong>Kommentar</strong> zur Lösung <strong>{{ currentSolution.title }}</strong>.</p>

      <div class="list list-inset">

        <div class="item item-divider">Dein Kommentar</div>
        <label class="item item-input">
          <textarea style="min-height: 80px;" required ng-model="solution.description" placeholder="Beschreibung*"></textarea>
        </label>
      </div>

      <div class="padding">
        <button class="button button-block button-energized" ng-disabled="createCommentForm.$invalid" ng-click="create()">Erstellen</button>
      </div>
    </form>
  </ion-content>
</div>
