<div class="modal" ng-controller="RegisterCtrl">

  <ion-header-bar class="bar-stable">
    <h1 class="title">Registrieren</h1>
    <div class="buttons">
      <button class="button button-clear icon ion-android-close" ng-click="closeRegister()"> </button>
    </div>
  </ion-header-bar>

  <ion-content>
    <form name="registerForm">
      <p class="padding">Du kannst alle Issues auch ohne Login ansehen. Möchtest
        du aber ein aktiver Teil der Community werden, dann musst du dich
        einloggen.</p>

      <div class="list list-inset">
        <label class="item item-input">
          <input ng-model="user.email" type="email" placeholder="Email-Adresse*" required />
        </label>
        <label class="item item-input">
          <input ng-model="user.username" type="text" placeholder="Username*" required />
        </label>
      </div>

      <div class="list list-inset">
        <label class="item item-input">
          <input ng-model="user.password" type="password" placeholder="Passwort*" required />
        </label>
        <label class="item item-input">
          <input ng-model="user.repeat_password" type="password" placeholder="Passwort wiederholen*" required />
        </label>
      </div>

      <div class="list list-inset">
        <label class="item item-input">
          <textarea ng-model="user.bio" style="min-height: 80px;" placeholder="Persönliche Beschreibung"></textarea>
        </label>
      </div>

      <div class="padding">
        <button class="button button-block button-stable" ng-disabled="registerForm.$invalid" ng-click="register()">Registrieren</button>
      </div>
    </form>
  </ion-content>
</div>
