<div class="modal">

  <ion-header-bar class="bar-stable">
    <h1 class="title">Status einer Issue</h1>
    <div class="buttons">
      <button class="button button-clear icon ion-android-close" ng-click="closeModal()"> </button>
    </div>
  </ion-header-bar>

  
  <ion-content>

    <div class="card">
      <div class="item item-text-wrap">
        <div class="issue-status-bar-help">
          <div class="issue-status-item">
            <h3>1. Neu</h3>
            <p>Dieses Issue ist gerade erst erstellt worden. Du kannst ab sofort 
            einen Lösungsvorschlag posten.</p>
          </div>

          <div class="issue-status-item">
            <h3>2. Lösung vorhanden</h3>
            <p>Dieses Issue hat bereits eine Lösung. Diskutiere bei der Lösung mit oder poste deinen eigenen Lösungsvorschlag.</p>
          </div>

          <div class="issue-status-item">
            <h3>3. Lösung ausgewählt</h3>
            <p>Der_die Author_in hat eine Lösung ausgewählt. Jetzt liegt es an dir: Schnapp dir die Lösung und setze sie um! Die Community 
            wird es dir danken.</p>
          </div>

          <div class="issue-status-item">
            <h3>4. Lösung zugewiesen</h3>
            <p>Du oder sonst irgendwer hat sich die Lösung geschnappt. Wenn du es warst, hast du jetzt bis zu 2 Wochen Zeit, die Lösung umzusetzen.</p>
          </div>

          <div class="issue-status-item">
            <h3>5. Lösung umgesetzt</h3>
            <p>Die Lösung wurde als "umgesetzt" markiert. Um sicherzugehen, dass das Problem auch wirklich nicht mehr existiert, kannst du die Lösung überprüfen, zum Beispiel mit einem Foto.</p>
          </div>

          <div class="issue-status-item">
            <h3>6. Abgeschlossen</h3>
            <p>Super! Die Lösung wurde umgesetzt und durch eine_n User_in bestätigt. Das Problem ist gelöst. Los, schau dir das nächste Issue an!</p>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</div>
