<ion-view title="{{issue.title}}">
  <ion-content>

    <div class="error" ng-show="loadError">Fehler beim Laden. Versuch es bitte nichmal.</div>

    <div class="list card">
      <div class="item item-avatar">
        <img src="http://2robots.at/logo.png">
        <h2>Von: {{issue.creator.username}}</h2>
        <!--p>Vor <strong>5 Tagen</strong> in <strong>Wien</strong></p-->
        <p>{{issue.createdAt}}</p>
      </div>

      <div class="item item-body">
        <iframe width="100%" height="150px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=16.33443832397461%2C48.18588898883708%2C16.4040470123291%2C48.232791761830015&amp;layer=hot" ng-show="issue.location">
        </iframe>

        <p>{{issue.description}}</p>
      </div>

      <div class="item item-body">
        <div style="overflow: auto;">
          <div style="white-space:nowrap">
            <a href="{{photo.big}}"><img src="{{photo.thumbnail}}" style="height: 50px;" ng-eatch="photo in issue.photos" /></a>
          </div>
        </div>
      </div>

      <!--div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#/tabs/issues/1/comments">
          <i class="icon ion-chatbox"></i>
          Comments
        </a>
      </div-->
    </div>

    <div class="padding"></div>

  </ion-content>
</ion-view>
