<ion-view title="{{issue.title}}" hide-back-button="false">
  <ion-content>

    <div class="error" ng-show="loadError">Fehler beim Laden. Versuch es bitte nichmal.</div>

    <div class="list card">
      <div class="item">
        <!--img src="http://2robots.at/logo.png" item-avatar-->
        <h2 style="white-space:normal;">{{issue.title}}</h2>
        <!--p>Vor <strong>5 Tagen</strong> in <strong>Wien</strong></p-->
        <p>Von: {{issue.creator.username}}, {{issue.createdAt | date: 'dd.MM.yyyy HH:mm' }}</p>
      </div>

      <div class="item item-body">
        <p>{{issue.description}}</p>
        <div id="issue-detail-map" data-tap-disabled="true"></div>
      </div>

      <div class="item item-body" ng-if="issue.photos.length > 0">
        <div style="overflow: auto;">
          <div style="white-space:nowrap">

            <img class="issues-image" ng-src="{{photo.url}}" style="height: 50px;" ng-repeat="photo in issue.photos" ng-click="openFile(photo.nativeURL)" />
          </div>
        </div>
      </div>

      <!--div class="item item-stauts" style="position:relative;">
        <div class="item-status-indecator" style="position: absolute; top: 0; left: 0; bottom: 0; right: auto; width: 25%; background:green;"></div>
      </div-->

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Up
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsdown"></i>
          Down
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
      </div>


    </div>

    <div class="list card" ng-repeat="solution in issue.solutions">
      <div class="item">{{ title }}</div>
    </div>

    <!--div class="list card">

      <div class="item item-divider" style="padding: 0;">
        <div class="button-bar bar-light">
          <button class="button button-calm" style="border: none;">
            <i class="icon ion-chatbox"></i>
            Comments
          </button>
          <button class="button" style="border: none;">
            <i class="icon ion-lightbulb"></i>
            Solutions
          </button>
        </div>
      </div>

      <div class="item">
        <h3>tina, 02. Dezember 2014</h3>
        <p>lalelu</p>
      </div>
      <div class="item">
        <h3>tina, 02. Dezember 2014</h3>
        <p>lalelu</p>
      </div>
      <div class="item">
        <h3>tina, 02. Dezember 2014</h3>
        <p>lalelu</p>
      </div>
      <div class="item">
        <h3>tina, 02. Dezember 2014</h3>
        <p>lalelu</p>
      </div>
      <div class="item">
        <h3>tina, 02. Dezember 2014</h3>
        <p>lalelu</p>
      </div>
    </div-->

  </ion-content>
</ion-view>
