<ion-view view-title="{{title}}">
  <ion-content>

    <!-- for pull to refresh -->
    <ion-refresher on-refresh="onRefresh()"></ion-refresher>
    <div class="error" ng-show="loadError">Fehler beim Laden. Versuch es bitte nichmal.</div>

    <div class="list">
      <a
        class="item item-avatar issue-list-item"
        ng-class="{'item-thumbnail-left': issue.photos.length > 0}"
        collection-repeat="issue in issues"
        collection-item-width="'100%'"
        collection-item-height="100"
        ng-style="{height: 100}"
        href="#tabs{{detailLinkPrefix}}/{{issue.id}}">


          <img class="issues-image" ng-src="{{issue.photos[0].url}}" ng-if="issue.photos.length > 0" />

          <h2 ng-bind="issue.title"> </h2>
          <p ng-bind="issue.description" ng-if="issue.description != ''"> </p>
          <p>
            von franz am 26.11.2014
            <span style="color: #66cc33; margin-left: 5px">
            <i class="icon ion-android-arrow-up"></i>
            402
            </span>
            <span style="color: #ef4e3a">
            <i class="icon ion-android-arrow-down"></i>
            21
            </span>
          </p>


      </a>
    </div>
  </ion-content>
</ion-view>
