<ion-view title="{{issue.title}}">
  <ion-content>

    <div class="error" ng-show="loadError">Fehler beim Laden. Versuch es bitte nichmal.</div>

    <div class="list card">
      <div class="item">
        <!--img src="http://2robots.at/logo.png" item-avatar-->
        <h2 style="white-space:normal;">{{issue.title}}</h2>
        <!--p>Vor <strong>5 Tagen</strong> in <strong>Wien</strong></p-->
        <p>Erstellt von {{issue.creator.username}} am {{issue.createdAt | date: 'dd.MM.yyyy HH:mm' }}</p>
      </div>

      <div class="item item-body">
        <p>{{issue.description}}</p>
        <div id="issue-detail-map" data-tap-disabled="true"></div>
        <p>Zuletzt bearbeitet am {{issue.updatedAt | date: 'dd.MM.yyyy HH:mm' }}</p>
      </div>

      <div class="item item-body" ng-if="issue.photos.length > 0">
        <div style="overflow: auto;">
          <div style="white-space:nowrap">

            <img class="issues-image" ng-src="{{photo.url}}" style="height: 50px;" ng-repeat="photo in issue.photos" ng-click="openFile(photo.nativeURL)" />
          </div>
        </div>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-android-arrow-up"></i>
          Gefällt mir
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-android-arrow-down"></i>
          Gefällt mir nicht
        </a>
        <a class="tab-item" href="#" ng-if="!issue.mine">
          <i class="icon ion-android-close"></i>
          Melden
        </a>
        <a class="tab-item" href="#" ng-if="issue.mine" style="color:#4F8EF7;">
          <i class="icon ion-edit"></i>
          Bearbeiten
        </a>
      </div>
    </div>

    <div class="list card" ng-repeat="solution in issue.solutions">

    <a href="#tabs/issues/{{issue.id}}/solutions/{{solution.id}}" style="text-decoration: none;">
      <div class="item">
        <h2>{{ solution.title }}</h2>
        <p>Erstellt von {{solution.creator.username}}</p>
      </div>

      <div class="item item-body">
        <p style="white-space:normal;">{{solution.description}}</p>
      </div>
    </a>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-android-arrow-up"></i>
          Gefällt mir
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-android-arrow-down"></i>
          Gefällt mir nicht
        </a>
        <a class="tab-item" href="#tabs/issues/{{issue.id}}/solutions/{{solution.id}}">
          <i class="icon ion-ios-chatbubble-outline"></i>
          {{solution.comments.length}} Kommentare
        </a>
      </div>
    </div>


  </ion-content>
</ion-view>
