<ion-tabs tabs-type="tabs-icon-only" tabs-style="tabs-royal">

    <ion-tab ui-sref="tabs.issues" id="tab_list" title="List" icon-on="icon ion-ios7-albums" icon-off="icon ion-ios7-albums-outline">
      <ion-nav-view name="issues-tab"></ion-nav-view>
    </ion-tab>
  
    <ion-tab ui-sref="tabs.map" id="tab_map" title="Map" icon-on="icon ion-ios7-location" icon-off="icon ion-ios7-location-outline">
      <ion-nav-view name="map-tab"></ion-nav-view>
    </ion-tab>
  
    <ion-tab ui-sref="tabs.profile" id="tab_profile" title="Profile" icon-on="icon ion-ios7-person" icon-off="icon ion-ios7-person-outline">
      <ion-nav-view name="profile-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>