<ion-view title="Du">

  <!-- user not logged in -->
  <ion-content ng-show='!loggedin()'>
    <p class="padding">Du siehst dein Profil erst, wenn du dich eingeloggt hast.</p>
    <p class="padding">
      <button class="button button-block button-stable" ng-click="openModal('login')">Einloggen</button>

      <button class="button button-block button-stable" ng-click="openModal('register')">Registrieren</button>
    </p>
  </ion-content>

  <!-- user logged in -->
  <ion-content ng-show='loggedin()'>

    <!-- for pull to refresh -->
    <ion-refresher on-refresh="onRefresh()"></ion-refresher>
    <div class="error" ng-show="loadError">Fehler beim Laden. Versuch es bitte nichmal.</div>

    <div class="list card">
      <div class="item">
        <h2>{{user.username}}</h2>
        <p>Dabei seit <strong>{{user.createdAt | date: 'dd.MM.yyyy HH:mm' }}</strong></p>
      </div>

      <div class="item item-body" ng-if="user.bio.length > 0">
        <p>{{user.bio}}</p>
      </div>

      <a class="item item-icon-left" href="#/tabs/profile/{{user.id}}/issues">
        <i class="icon ion-ios7-flag-outline"></i>Meine Issues <span class="badge badge-stable">{{user.issue_count}}</span>
      </a>

      <!--div class="item item-icon-left">
        <i class="icon ion-ios7-chatboxes-outline"></i>Meine Kommentare <span class="badge badge-stable">234</span>
      </div>

      <div class="item item-icon-left">
        <i class="icon ion-ios7-checkmark-outline"></i>Meine Lösungen <span class="badge badge-stable">2</span>
      </div-->

      <div class="item assertive item-icon-left" ng-click="logout()">
        <i class="icon ion-ios7-minus-outline"></i>Abmelden
      </div>

    </div>

    <div class="padding"></div>

  </ion-content>
</ion-view>
