
/* COLORS */
$white: #FFFFFF;
$grey_bg: #ECF0F6;
$main: #000000;
$grey_blue: #505B6B;
$grey: #7E7E7E;
$blue: #2C4172;
$lightblue: #6394FF;
$green: #417E0A;

/* SIZES */
$header_height: 44pt;
$list_margin: 10pt;

$header_h1_size: 16pt;
$header_h2_size: 20pt;

$p_size: 11pt;

/* BOX SHADOW */
$default-box-shadow-color: rgba(0, 0, 0, 0.3);
$default-box-shadow-blur: 2pt;

/* BORDER RADIUS */
$default-border-radius: 2pt;

/* FONTS */
$font_normal: "Helvetica Neue", Helvetica, Arial;
$font_light: "HelveticaNeue-UltraLight", "Helvetica Neue", Helvetica, Arial;