body {
  font-family: $font_normal;
}

h1 {
  text-align: center;
  font-size: $header_h1_size;
  height: $header_h1_size;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -($header_h1_size/2);
  top: 50%;
  color: $grey_blue;
}

h2 {
  color: $blue;
  font-size: $header_h2_size;
  font-family: $font_light;
  font-weight: 100;
  margin-bottom: $list_margin;
}

p {
  color: $grey;
  font-size: $p_size;
  line-height: $line_height;
}

.c {
  height: 0;
  margin: 0;
  padding: 0;
  clear: both;
}

strong {
  font-weight: bold;
}