
/* default icons */
.icn {
  height: 28px;
  width: 28px;
  @include inline-block;
  overflow: hidden;
  text-indent: -9999px;
}

.icn.settings {
  background: url("icons/settings.png") no-repeat center center;
  @include background-size(contain);
}

.icn.back {
  background: url("icons/back.png") no-repeat center center;
  @include background-size(contain);
}

.icn.login {
  background: url("icons/login.png") no-repeat center center;
  @include background-size(contain);
}

.icn.time {
  background: url("icons/time.png") no-repeat center center;
  @include background-size(contain);
}

.icn.comment {
  background: url("icons/comment.png") no-repeat center center;
  @include background-size(contain);
}

.icn.solution {
  background: url("icons/solution.png") no-repeat center center;
  @include background-size(contain);
}