<div data-options="dxView : { name: 'me' } " >
  <div data-options="dxContent : { targetPlaceholder: 'content' } " >

    <div class="user-header">
      <h1>Franz Wilding</h1>
      <img src="http://2robots.at/logo.png" />
    </div>

    <div class="dx-fieldset">

      <div class="dx-field">
        <div class="dx-field-label">Meine Issues </div>
        <div class="dx-field-value">
          <div data-bind="dxButton: { icon: 'arrowright'}"></div>
        </div>
      </div>

      <div class="dx-field">
        <div class="dx-field-label">Von mir kommentierte Issues </div>
        <div class="dx-field-value">
          <div data-bind="dxButton: { icon: 'arrowright'}"></div>
        </div>
      </div>

    </div>

    <div class="dx-fieldset">

      <div class="dx-field">
        <div class="dx-field-label">Von mir gelöste Issues </div>
        <div class="dx-field-value">
          <div data-bind="dxButton: { icon: 'arrowright'}"></div>
        </div>
      </div>

    </div>

  </div>
</div>